<div class="field">
  <%= f.label :name %>
  <br/>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email, "Email (Please use the following format: studentid@mail.blackburn.ac.uk for students. @blackburn.ac.uk for staff)" %>
  <br/>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :aboutme, "About Me" %>
  <br/>
  <%= f.text_area :aboutme, :rows => 30, :cols => 5 %>
</div>
<div class="field">
  <%= f.label :course %>
  <br/>
  <%= f.text_field :course %>
</div>
<div class="field">
  <%= f.label :faveclasses, "Favourite Classes" %>
  <br/>
  <%= f.text_field :faveclasses %>
</div>
<div class="field">
  <%= f.label :interests %>
  <br/>
  <%= f.text_field :interests %>
<div class="field">
  <%= f.label :password, "Password (Must be 6 characters)" %>
  <br/>
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation, "Confirmation" %>
  <br/>
  <%= f.password_field :password_confirmation %>
</div>